
/* Reset the container */
.container {
  min-width: 1252px;
  max-width: none !important;
  width:100%;
}

.main-container {

    margin:0px;
    margin-top:5px;
    height: 100px !IMPORTANT;
}

.aligned-container {
    text-align: center;
    position:relative;
    left:20px;
}
.text-name {

  
    font-size: 0.9em;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-align:center !IMPORTANT;
    color: #2D4761;

}
.profile-pic {
    width:2.7em;
    border-radius: 50%;
    margin-left:35px;
    top:-2px;
    position:relative;
}

.podcast_container {
    padding-right:0px;
    padding-left:0px;
    padding-top:5px;
}

.search-container {
    left:20px;
}

.logo_container {
    margin-top:10px;
    padding-left:35px;

}

.five_width {
    width:2%;
    height:100px;
    float:left;
}

.course-button-container {
    margin-top: 30px;
    left:-32px;
}

.course-button {
    height: 2.7em;
    border-radius: 2px;
    background-color: #0F2B5E;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size:0.85em;
}