
*:not(.video-js .vjs-tech,
      .video-js .vjs-menu) {
        font-family: 'Roboto', sans-serif !IMPORTANT;
}
/* Reset the container */
.container {
  min-width: 1252px !IMPORTANT;
  max-width: none !important;
  width:100% !IMPORTANT;
}

.main-container {
    margin:0px !IMPORTANT;
    margin-top:5px !IMPORTANT;
    height: 100px !IMPORTANT;
}

.aligned-container {
    text-align: center;
    position:relative;
    left:30px;
}
.text-name {

  
    font-size: 0.9em;
    height: 40px;
    font-family: 'Roboto', sans-serif !IMPORTANT;
    font-weight: 500;
    text-align:center !IMPORTANT;
    color: #2D4761;

}
.profile-pic {
    width:2.7em;
    border-radius: 50%;
    margin-left:35px;
    top:-2px;
    position:relative;
}

.podcast_container {
    padding-right:0px !IMPORTANT;
    padding-left:0px !IMPORTANT;
    padding-top:5px !IMPORTANT;
}

.search-container {
    left:20px !IMPORTANT;
}

.logo_container {
    margin-top:10px !IMPORTANT;
    padding-left:35px !IMPORTANT;

}

.five_width {
    width:2%;
    height:100px;
    float:left;
}

.course-button-container {
    margin-top: 30px !IMPORTANT;
    left:-32px !IMPORTANT;
}

.course-button {
    height: 2.7em !IMPORTANT;
    border-radius: 2px !IMPORTANT;
    background-color: #0F2B5E !IMPORTANT;
    font-family: 'Roboto', sans-serif !IMPORTANT;
    font-weight: 100 !IMPORTANT;
    font-size:0.85em !IMPORTANT;
}

.home-button:hover {
    cursor: pointer;
}