.main_search {
    width:100%;
    height:2.5em !IMPORTANT;
    box-shadow: none !IMPORTANT;
    border-radius: 3px !IMPORTANT;
    border-color: #446CB3 !IMPORTANT;
    padding-right: 32px !IMPORTANT;
    font-family: 'Roboto', sans-serif !IMPORTANT;
}

.main_search_container {
    margin-top:29px;
    left: -40px;
    position:relative;
}

.glyphicon-search {
    top: 4px;
    color: #92959C;
}