<div class="row one-comment">
    <div class="col-12">
        <table>
            <tr>
                <td class="comment-pic">
                    <img class="comment-pic-holder" src=""></img>
                </td>
                <td class="push-up-comment">
                    <div class="comment-text">
                        <span class="comment-poster-name"></span>: 
                        <span class="comment-post-content"></span>
                    </div>
                    <div class="col-12 time-signature-main time-comment">
                        <span class="comment-time"></span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
