<div class="onboarding-page row">
  <div class="col-6 no-float fill onboarding-front-left dark">
    <img class="center-pic" src="images/onboarding_module/PodcastPageMac.png"/>
    <div class="caption">
      Your classes, <span class="emphasis">your way</span>.
    </div>
  </div>
  <div class="col-6 no-float fill onboarding-front-right">
    <div class="logo-container-onboarding">
      <img class="podcast-logo" src="images/podcast_logo.png"/>
      <img class="ucsd-text-logo" src="images/ucsd_text_logo.png"/>
    </div>
    <div class="fb-login-container">
      <button class="pure-button fb-login-button">
        <span class="button-text">
          <i class="fa fa-facebook-official" aria-hidden="true"></i>
        </span>
        <span class="button-text">
          Login with Facebook
        </span>
      </button>
    </div>
  </div>
</div>
</body>
