#page {
    overflow-x:scroll;
    overflow-y:hidden;
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    font-family: Open Sans, sans-serif !important;
    -webkit-font-smoothing: subpixel-antialiased !important;
}

#loader-animation {
    width:100%;
    height:100%;
    position:fixed;
    top:0;
    left:0;
    z-index:100
}