<html>

<head>
  <meta charset="UTF-8">
  <title>Podcasts</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="search2.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="search2.js"></script>
</head>

<body style="overflow-y: scroll; height:100%; width:100%; padding-bottom:30px" ng-app="podcast" ng-controller="MainCtrl">

  <div id="loader"></div>
  <div id="navbox"></div>

  <div style="background-color:#f0f4f1">
      <div class="container">
        <div class="row">
          <div class="col-md-8" style="min-height: 750px; padding-left: 70px; background-color:#f0f4f1"><button ng-click="add()">Add</button><h4 style="color: #0f3170">Search Results</h4><br />

            <div class="customHr">.</div><br /><br />

            <section>

              <div class="container">
                <!-- <div class="row col-md-12">
                  <h4 class="col-md-6"></h4>
                  <h4 class="col-md-6">Col 2</h4>
                </div> -->

                <div style="width:100%" class="row col-md-12">

                  <table>
                    <span ng-show="chunkedArray.length > 0"
                      <tr ng-repeat="pod in chunkedArray track by $index">
                        <div style="padding-right: 50px; padding-bottom:30px;padding-left: 50px">
                            <iframe style="padding:1px; border:2px solid #1c73ca; border-radius: 10px" width="300" height="240" src="https://www.youtube.com/embed/p2CrdaoGGXY" frameborder="0"></iframe>{{$index}}<br />
                            <div style="color:#124d87; font-size: 12; margin: 10px">
                              <span>OCR match on "{{pod.ocrMatchText}}" on slide {{pod.ocrMatchSlide}}</span><br />
                              <span>Keywords: {{pod.keywords}}</span><br />
                              <span>Lecture on {{pod.date}}</span>
                            </div>
                        </div>
                      </tr>
                    </span>
                    </tr>

                    <!-- <tr ng-repeat="post in posts | orderBy: '+upvotes' track by $index">
                      <td style="overflow:hidden; width:100%">
                        <div>
                          <span ng-click="increment(post)">+</span>
                          <a ng-show="post.link" href="{{post.link}}">
                            {{post.title}}
                          </a>
                          <span ng-hide="post.link">
                            {{post.title}}
                          </span>
                          - upvotes: {{post.upvotes}}
                        </div>
                      </td>
                    </tr>

                    <form ng-submit="addResult">
                      <input type="text" placeholder="Title" ng-model="title" /><br />
                      <input type="test" placeholder="Link" ng-model="link" /><br />
                      <button type="submit">Post</button>
                    </form> -->

                  </table>
                </div>
              </div>


            </section>

          </div><hr />

          <div class="col-md-3" style="padding-right:30px; padding-left:20px;padding-top:28px;background-color:lavender"><h4 style="color:#0f3170; position:relative;left:8px">Matching Posts</h4><br />
            <div class="customHr">.</div><br />
            <div id="postbox"></div>

          </div><hr />

        </div>
      </div>
    </div>

</body>


<footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <script src="./javascript/components.js"></script>

    <script>
        // Scripts above are required on every single page
        loadComponent("loader_module.html", "#loader", function () {
            loadComponent("menu_module.html", "#navbox", function () {
                new NavBarLoggedInCourse({
                    firstname: "Rauhmel",
                    classname: "CSE 110",
                    classqrtr: "Fall 2017",
                    userid: "123123123123",
                    profpic: "http://3.bp.blogspot.com/-AMQ283sRFI4/VeMuQ2FeLdI/AAAAAAAC_4k/cWfG1Hmg4d8/s1600/Miley_Cyrus_E%2521_NEWS.jpg"
                });
                $("#loader").hide();
                $("#navbox").show();
            }, 200);
        });

                loadComponent("post_module.html", "#postbox", function () {
                  new APost(
                    {"Name": "Rauhmel Bob",
                     "ProfilePic": "http://3.bp.blogspot.com/-AMQ283sRFI4/VeMuQ2FeLdI/AAAAAAAC_4k/cWfG1Hmg4d8/s1600/Miley_Cyrus_E%2521_NEWS.jpg",
                     "Content": "This is a test post with some random data just to test the functionality",
                     "TimeOfPost": 1486659593882,
                     "SlideOfPost": 5,
                     "Comments": [
                     {
                        "Pic" : "http://3.bp.blogspot.com/-AMQ283sRFI4/VeMuQ2FeLdI/AAAAAAAC_4k/cWfG1Hmg4d8/s1600/Miley_Cyrus_E%2521_NEWS.jpg",
                        "PosterName" : "Rauhmel Bob",
                        "Content" : "This is a really cool test comment and a really long test comment because it needs to be tested",
                        "Time" : 1486691019627
                     },
                     ]
                   }, "Prithvi Narasimhan", "http://pages.stern.nyu.edu/~sbp345/websys/phonegap-facebook-plugin-master/src/android/facebook/FacebookLib/res/drawable/com_facebook_profile_picture_blank_square.png", null, $(".post-container"));
                    $("#loader").hide();
                    $("#navbox").show();
                    $("#postbox").show();
                }, 200);

</script>

    <div style="padding-left: 150px" class="container">
       <p>&copy; Only Handle It Once</p>
    </div>
</footer>

</html>
