<html>

<head>
  <meta charset="UTF-8">
  <title>Podcasts</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="./styles/search_module/searchResults.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <script src="./javascript/search_module/searchResults.js"></script>
</head>

<body style="overflow-y: scroll; height:100%; width:100%; padding-bottom:30px" ng-app="podcast" ng-controller="MainCtrl">

  <div id="loader"></div>
  <div id="navbox"></div>

  <div style="background-color:#F4F6F8">
      <div class="container">
        <div class="row">
          <div class="col-8" style="min-height: 750px; padding-left: 40px; background-color:#F4F6F8"><button ng-click="add()">Add</button><h4 style="color: #0f3170">Search Results for "searchQuery" in "queryClass"</h4><br />

            <div class="customHr">.</div><br /><br />

            <section>

              <div class="container">
                <!-- <div class="row col-md-12">
                  <h4 class="col-md-6"></h4>
                  <h4 class="col-md-6">Col 2</h4>
                </div> -->

                <div style="width:70%" class="row col-md-12">

                  <table>
                    <span ng-show="chunkedArray.length > 0"
                      <tr ng-repeat="pod in chunkedArray track by $index">
                        <div style="padding-right: 50px; padding-bottom:30px;padding-left: 30px">
                            <iframe style="border-radius: 6px;border: 1px solid #BAC5D3" width="300" height="240" src="https://www.youtube.com/embed/p2CrdaoGGXY" frameborder="0"></iframe>{{$index}}<br />
                            <div style="color:#124d87; font-size: 12; margin: 10px">
                              <span>OCR match on "{{pod.ocrMatchText}}" on slide {{pod.ocrMatchSlide}}</span><br />
                              <span>Keywords: {{pod.keywords}}</span><br />
                              <span>Lecture on {{pod.date}}</span>
                            </div>
                        </div>
                      </tr>
                    </span>
                    </tr>

                    <!-- <tr ng-repeat="post in posts | orderBy: '+upvotes' track by $index">
                      <td style="overflow:hidden; width:100%">
                        <div>
                          <span ng-click="increment(post)">+</span>
                          <a ng-show="post.link" href="{{post.link}}">
                            {{post.title}}
                          </a>
                          <span ng-hide="post.link">
                            {{post.title}}
                          </span>
                          - upvotes: {{post.upvotes}}
                        </div>
                      </td>
                    </tr>

                    <form ng-submit="addResult">
                      <input type="text" placeholder="Title" ng-model="title" /><br />
                      <input type="test" placeholder="Link" ng-model="link" /><br />
                      <button type="submit">Post</button>
                    </form> -->

                  </table>
                </div>
              </div>


            </section>

          </div><hr />

          <div class="col-3" style="padding-right:30px; padding-left:20px;padding-top:28px;background-color:#F4F6F8"><h4 style="color:#0f3170; position:relative;left:8px">Matching Posts</h4><br />
            <div class="customHr">.</div><br />
            <div id="postsearch"></div>

          </div><hr />

        </div>
      </div>
    </div>

</body>


<footer>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>

    <script src="./javascript/components.js"></script>

    <script>
        // Scripts above are required on every single page
        loadComponent("loader_module.html", "#loader", function () {
            loadComponent("menu_module.html", "#navbox", function () {
                new NavBarLoggedInCourse({
                    firstname: "Rauhmel",
                    classname: "CSE 110",
                    classqrtr: "Fall 2017",
                    userid: "123123123123",
                    profpic: "http://3.bp.blogspot.com/-AMQ283sRFI4/VeMuQ2FeLdI/AAAAAAAC_4k/cWfG1Hmg4d8/s1600/Miley_Cyrus_E%2521_NEWS.jpg"
                });
                $("#loader").hide();
                $("#navbox").show();
            }, 200);
        });

                loadComponent("post_search_module.html", "#postsearch", function () {
                  new PostSearch(
                      [{"Name": "Rauhmel Bob",
                          "PostId": "123123123",
                           "ProfilePic": "http://3.bp.blogspot.com/-AMQ283sRFI4/VeMuQ2FeLdI/AAAAAAAC_4k/cWfG1Hmg4d8/s1600/Miley_Cyrus_E%2521_NEWS.jpg",
                           "Content": "This is a test post with some random data just to test the functionality",
                           "TimeOfPost": 1486659593882,
                           "SlideOfPost": 5,
                           "Comments": [
                           {
                              "Pic" : "http://3.bp.blogspot.com/-AMQ283sRFI4/VeMuQ2FeLdI/AAAAAAAC_4k/cWfG1Hmg4d8/s1600/Miley_Cyrus_E%2521_NEWS.jpg",
                              "PosterName" : "Rauhmel Tob",
                              "Content" : "This is a really cool test commement",
                              "Time" : 1486691019627
                           },
                           {
                              "Pic" : "http://3.bp.blogspot.com/-AMQ283sRFI4/VeMuQ2FeLdI/AAAAAAAC_4k/cWfG1Hmg4d8/s1600/Miley_Cyrus_E%2521_NEWS.jpg",
                              "PosterName" : "LOL Bob",
                              "Content" : "This is a really cool test commement and it is going to be abbsurdley long to test a weird edge case that wil hopefully not break everything",
                              "Time" : 1486691009627
                           }
                           ]
                          },
                  {"Name": "Rauhmel Bob",
                          "PostId": "123123123",
                           "ProfilePic": "http://3.bp.blogspot.com/-AMQ283sRFI4/VeMuQ2FeLdI/AAAAAAAC_4k/cWfG1Hmg4d8/s1600/Miley_Cyrus_E%2521_NEWS.jpg",
                           "Content": "This post will only talk about hash tables and hash maps but will not talk about anything else",
                           "TimeOfPost": 1486659593882,
                           "SlideOfPost": 5,
                           "Comments": [
                           {
                              "Pic" : "http://3.bp.blogspot.com/-AMQ283sRFI4/VeMuQ2FeLdI/AAAAAAAC_4k/cWfG1Hmg4d8/s1600/Miley_Cyrus_E%2521_NEWS.jpg",
                              "PosterName" : "Rauhmel Tob",
                              "Content" : "FUBAR. If you search for FUBAR, you will find it here maybe?",
                              "Time" : 1486691019627
                           },
                           {
                              "Pic" : "http://3.bp.blogspot.com/-AMQ283sRFI4/VeMuQ2FeLdI/AAAAAAAC_4k/cWfG1Hmg4d8/s1600/Miley_Cyrus_E%2521_NEWS.jpg",
                              "PosterName" : "LOL Bob",
                              "Content" : "This is a really cool test commement and it is going to be abbsurdley long to test a weird edge case that wil hopefully not break everything",
                              "Time" : 1486691009627
                           }
                           ]
                          }],
                      "Prithvi Narasimhan",
                      "http://pages.stern.nyu.edu/~sbp345/websys/phonegap-facebook-plugin-master/src/android/facebook/FacebookLib/res/drawable/com_facebook_profile_picture_blank_square.png",
                      null,
                       $(".search-module"));
                    $("#loader").hide();
                    $("#navbox").show();
                    $("#postsearc").show();
                }, 200);

</script>

    <div class="container">
       <p>&copy; Only Handle It Once</p>
    </div>
</footer>

</html>
