/*body {
}*/
.vjs-default-skin .vjs-big-play-button {
  font-size: 0em;
}
.directional-button {
  width: 100px;
  height: 100px;
}


.video-js .vjs-play-progress,
.video-js .vjs-volume-level,
.video-js .vjs-slider-bar {
  background: rgb(75, 119, 190);
}

.video-js .vjs-control-bar { 
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border-radius: 5px;
}
.video-js .vjs-control-bar,
.video-js .vjs-big-play-button,
.video-js .vjs-menu-button .vjs-menu-content {
  background-color: rgba( 0, 0, 0, 0.7);
  width: 72%;
  left: 14%;
  right: 0;
  bottom: 2%;
}

.video-js .vjs-volume-menu-button .vjs-menu{
    width: 72%;
}

.video-js .vjs-menu-button-popup .vjs-menu{
    left: -50%;
    width: 200%;
    bottom: 15px;
}

.videowrapper{
  display: table;
  width: 100%;
  position: relative;
  margin: auto auto;
  align-items: center;
    padding-left: 20px;
    padding-right: 15px;
    min-width: 380px;

}

.videocontent{
    width: auto;
    max-width: 1500px;
    min-width: 600px;
    margin: auto;
}

.crop-pic-vid {
  width: 35px;
  height: 35px;
}

.prev-button {
  background-image:url(../../images/video_module/prev.png);
  background-repeat:no-repeat;
  height: 8%;
  width: 5%;
  position:absolute;
  left: 3%;
  top: 37%;
  background-size:contain;
  background-position: center;
  opacity: .75;

}
.prev-button:hover {
    opacity: 1;
}
.next-button {
  background-image:url(../../images/video_module/next.png);
  background-repeat:no-repeat;
  height: 8%;
  width: 5%;
  position:absolute;
  right: 3%;
  top: 37%;
  background-size:contain;
  background-position: center;
  opacity: .75;
}
.next-button:hover {
    opacity: 1;
}