.onboarding-right {
  min-width: 50%;
  padding: 0px;
}

.onboarding-left {
  background: url('../../images/onboarding_module/Material-Design-Background-1024.jpg'), rgba(0,0,0,0.6);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,.53);
  background-blend-mode: multiply;
  min-width: 50%;
  padding: 0px;
}

html,body {
  height: 100%;
  width: 100%;
  min-width: 1200px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
	height: 100%;
	padding: 0px;
}

.fill{
	width:100%;
	height:100%;
	min-height:100%;
}

.center-pic {
	padding-top: 14%;
	padding-left: 11%;
	padding-right: 11%;
	max-width:100%;
	height: auto;
}

.caption {
  padding-top: 5%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 42px;
  /*font-size: 2.5vw;*/
  color: white;
}

.emphasis {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.logo-container {
  padding-top: 20%;
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 0%;
}

.podcast-logo {
  width: 15%;
}

.ucsd-text-logo {
  width: 60%;
}

.row {
  margin: 0;
}

.fb-login-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  background: rgb(59,89,152);
  color: white;
  margin-top: 23%;
}

.fa.fa-facebook-official {
  font-size: 175%;
  margin-right: 36px;
}

.button-text {
  display: inline-block;
  vertical-align: middle;
}
