.onboarding-front-right {
  min-width: 50%;
  padding: 0px;
}

.onboarding-front-left {
  background: url('../../images/onboarding_module/student.jpg'), rgba(0,0,0,0.6);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: rgba(0,0,0,.53);
  background-blend-mode: multiply;
  min-width: 50%;
  padding: 0px;
}

.onboarding-page {
  height: 100%;
  width: 100%;
  min-width: 1200px;
  min-height: 300px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background-color: white;
}

.fill{
	width:100%;
	height:100%;
	min-height:100%;
  margin:0px;
}

.center-pic {
  display: initial;
	padding-top: 14%;
	padding-left: 11%;
	padding-right: 11%;
	max-width:100%;
	height: auto;
}

.caption {
  padding-top: 5%;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-weight: 200;
  font-size: 42px;
  color: white;
}

.emphasis {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.logo-container-onboarding {
  height: 50%;
  min-height: 50%;
  max-height: 50%;
  padding-top: 20%;
  padding-left: 20%;
  padding-right: 0%;
}

.podcast-logo {
  width: 15%;
}

.ucsd-text-logo {
  width: 60%;
}

.fb-login-container {
  height: 50%;
  min-height: 50%;
  max-height: 50%;
}

.fb-login-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-size: 24px;
  background: rgb(59,89,152);
  color: white;
  margin-top: 10%;
}

.fa.fa-facebook-official {
  font-size: 187%;
  margin-right: 36px;
}

.button-text {
  display: inline-block;
  vertical-align: middle;
}
