.onboarding-right {
  min-width: 50%;
  padding: 0px;
  right: 0%;
}

.onboarding-left {
  background: url('../../images/onboarding_module/Material-Design2.jpg'), rgba(0,0,0,0.6);
  background-repeat: no-repeat;
  background-position: relative;
  /*-webkit-background-size: cover; 
  -moz-background-size: cover; 
  -o-background-size: cover;
  background-size: cover; */
  background-color: rgba(100,100,100,.61);
  background-blend-mode: multiply;
  min-width: 50%;
  padding: 0px;
}

.onboarding-courses-module {
  height: 100%;
  width: 100%;
  min-width: 1200px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.container {
	height: 100%;
	padding: 0px;
}

.fill{
	width:100%;
	height:100%;
	min-height:100%;
}

.center-pic {
	padding-top: 14%;
	padding-left: 11%;
	padding-right: 11%;
	max-width:100%;
	height: auto;
}

.caption {
  padding-top: 5%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 42px;
  /*font-size: 2.5vw;*/
  color: white;
}

.emphasis {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.logo-container {
  padding-bottom: 5%;
  padding-left: 20%;
  padding-right: 0%;
}

.podcast-logo {
  width: 15%;
}

.ucsd-text-logo {
  width: 60%;
}

.row {
  margin: 0;
}

/* Second Onboarding Style */
.course-list-container {
  /*padding-top: 10%;*/
  position: relative;
  width: 100%;
  bottom: 0%;
}

.table-style {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

.pic-filter {
    width: 30px;
    height: 20px;
    opacity: .09;
    padding: 2px;
    margin-bottom: 5px;
}

.pic-filter:hover {
  cursor: pointer;
  padding: 0px;
  opacity: 1;
}

.cell-head { 
}

.cell-head-mid {
    width: 90%;
}

.cell-head-end1 {
    padding-left: 6%;
    padding-right: 6%;
}

.cell-head-end2 {
    padding-left: 5%;
    padding-right: 5%;
}
.cell-mid {
    width: 90%;
}

.cell-end {
    width: 5%;
}

.cell {
  padding: 20px;
  line-height: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 18px;
  color: white;
  /*-webkit-transition: font-size .3s;
  transition: font-size .3s;*/
  /*white-space:nowrap;*/
}

/*
.cell:hover {
  font-size: 20;
}*/

.table-head {
  display: block;
  background: white;
}

.cell-head {
  text-align: center;
  color: #444;
  background: white;
}

.course-list-container .table-body {
  width: auto;
  height: 60vh;
  overflow: auto;
  display: block;
}

.table-row {
  opacity: .9;
  cursor: pointer;
}

.table-row:hover {
  opacity:1 !important;
}

.table-row:nth-child(4n + 1) {
  background: rgba(56, 90, 154, 1);
}

.table-row:nth-child(4n + 2) {
  background: rgba(229, 77, 66, 1);
}

.table-row:nth-child(4n + 3) {
  background: rgba(41, 187, 156, 1);
}

.table-row:nth-child(4n + 4) {
  background: rgba(104, 129, 158, 1);
}

/* Search Bar */
.search-container-table {
  margin-left: 15%;
  opacity: .6;
  width: 70%;
  margin-bottom: 5px;
  -webkit-transition: width .5s, margin-left .5s;
  transition: width .5s, margin-left .5s;
}

.search-container-table:hover {
  width: 80%;
  opacity: 1;
  margin-left: 10%;
}


.input-style {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 15px;
}
