.podcast-row {
    padding: 0;
    margin: 0;
    height: 100%;
}

.podcast-cont {
    padding: 0 !IMPORTANT;
    margin: 0 !IMPORTANT;
    background-color:#F4F6F8;
}


#podcast-posts {
    height: 80%;
}

.video-container {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}

#recommendations-container {
  padding-bottom: 50px;
}
