.podcast-recommendations-module {
  width: 100%;
  padding-left: 2.5%;
  padding-right: 2.5%;
}

.podcast-recommendations {
  margin-top: 12px;
  margin-bottom: 10.3664%;
}

.preview-img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
}

.rec-container {
  padding-right: 2.375%;
}

.rec-title {
  margin-top: 1.45%;
  text-align: center;
  color: #3a5c9b;
  font-size: 90%;
}

.recommendations-header {
  color: #405a74;
}
