.a-post {
    background-color: rgb(246, 247, 249);
    position:absolute;
    top:0;
}

mark {
    padding: 0 !IMPORTANT;
    background-color: rgba(0, 0,0, 0) !IMPORTANT;
    color: #C00000 !IMPORTANT;
    font-weight: 600;
}
.name-of-poster mark {
    margin: 0px;
}


.post-container {
    background-color:white;
    border-radius: 5px;
    border: 1px solid #BAC5D3;
    font-family: 'Roboto', sans-serif;
    padding-left:0px;
    padding-right:0px;
    padding: 0px !IMPORTANT;
    margin-top: 28px;
    margin-bottom: 28px;
    margin-left: 9.6333% !IMPORTANT;
}

.profile-pic-post {
    width:100%;
    border-radius:50%;
    margin-right:10px;
    margin-bottom:10px;
    max-width: 35px;
    max-height: 35px;
    min-width: 20px;
    min-height: 20px;
    float :left;
}

.post-header {
    padding-top: 15px;
}

.name-of-poster {
    display: flex;
    align-items: center;
    color: #2D4761;
    margin-bottom:10px;
    font-weight: 500;
    font-size: 0.9em;
    left:-15px;
    height: 35px;
}

.post-main-content {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 0.77em;
    font-weight: 200;

}

.time-signature-main {
    padding-right: 15px;
    margin-top:5px;
    font-size: 0.73em;
    font-weight: 300;
    color: #9094A9;
    left: 3px;
}

.slide-no {
    color: #446CB3;
    cursor: pointer;
    text-decoration: underline;
}

.time-signature-main span {
    text-align: right;
    width: 100%;
}

.comments {
    margin-top: 10px;
    padding:0;
    width: 100%;
}

.comment-pic {
    min-width: 30px;
    min-height: 30px;
    vertical-align:top;
}
.comment-pic img {
    width: 100%;
    border-radius: 50%;
    margin-top: 15px;
    max-height: 30px;
    max-width: 30px;
    float:left;
}

.one-comment {
    padding-bottom: 13px;
    background-color: #F7F7F7;
    margin-top:2px;
    border-radius: 4px;
    word-wrap: break-word;

}

.comment-text {
    font-size: 0.78em;
    font-weight: 100;
    margin-top: 16px;
    margin-left: 7px;
    color: #404040;

}

.post-container .row {
    margin-left: 0;
    margin-right: 0;
}

.comment-text .comment-poster-name  {
    color: #2D4761;
    font-weight: 500;
}

.time-comment {
    text-align:right;
    top:5px;
    padding-right: 3px !IMPORTANT;
    padding:3px;
    height:100%;
}

.comment-answer {
    width:99%;
    box-shadow: none !IMPORTANT;
    border: none !IMPORTANT;
    font-weight: 200;
    margin-bottom: 0;
    font-size: 0.85em;
}

.comment-form {
    padding:0;
    margin:0;
    margin-top: -3px;
    background: #BAC5D3;
    border-radius: 3px;
}

.comment-form input {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 0px;
    border-radius: 10px;
    background: white;
}

.comment-form input:focus {
}

.push-up-comment {
    vertical-align: top;
    width: 100%;
}
