.search-module-main {
    background-color: #F4F6F8;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.form-control-success {
    background-image: url("https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcS7LE9IY2mTREC1zYoRyyo182eoXd6EH-EV4IGRXDYYnMvAaYoN") !IMPORTANT;
}

.slide-transition-notifyer {
    width: 82.5%;
    right: 0.5%;
    position: relative;
    height: 30px;
    margin-bottom:5px;
}
.search-module {
    overflow-y: scroll;
    overflow-x: hidden;
    border-top: 1px solid white;
    margin-right: 5px !IMPORTANT;
}

.main_search_container_post {
    margin-left: 35px;
    margin-right: 35px;
    margin-left: 9.45% !IMPORTANT;
    padding-bottom: 10px;
    margin-bottom:0px !IMPORTANT;
    padding-top:10px;
}
.post_main_search {
    height:2.5em;
    box-shadow: none !IMPORTANT;
    border-radius: 3px !IMPORTANT;
    border-color: #C0C9D7 !IMPORTANT;
    border: 0.5px;
    font-size: 0.9em !IMPORTANT;
    font-weight: 200;
    color: black;
    display:inline !IMPORTANT;
}

.main_search_container_post {
    position:relative;
}

.glyphicon-search {
    top: 4px;
    color: #92959C;
}

.no-results {
    text-align:center;
    padding-top: 50px;
}

.no-results img {
    height: 100px;
}

.new-post-img{
    height: 35px;
    min-width: 40px;
    background-color:#4A76BD !IMPORTANT;
    padding: 10px !IMPORTANT;
    border-radius: 5px !IMPORTANT;
    top:0px;
    position:relative;
}

.new-post-img img {
    filter: invert(100%);
    height: 100%;
    position:relative;
}