.recClass {
  margin-top:-20px;
  margin-bottom:15;
  overflow:hidden;
  height: 40; 
  width:100%; 
  display:flex; 
  justify-content:space-between;
  text-align: center;
}

.recClass button {
  font-size:14;
  height:80%; 
  width: 80%; 
  border-radius:8px; 
  margin-left: 8; 
  margin-top:8;
  display: inline-block;
  text-align:center;
  color:white;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.recClass button:active {
  -webkit-transform: scale(.7);
  transform: scale(.7);
  width: 70%;
  font-size: 0; 
}

button:focus {
  outline:0;
}