.video-card {
    position: relative;
    background-color:white;
    border-radius: 6px;
    border: 1px solid #BAC5D3;
    font-family: 'Open Sans', sans-serif;
    padding-left:0px;
    padding-right:0px;
    padding: 0px !IMPORTANT;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
    margin-bottom: 20px;
    min-width: 225px;
    width: 90%;
}

.search-videos-div {
    height: 100% !important;
    position: relative;
}
.title-video-data:hover {
    cursor: pointer;
}

.lecture-image-search {
  width: 100%;
  filter: brightness(0.5);
  border-radius: 5px 5px 0px 0px;
  cursor: pointer;
}

.title-video-data {
  position:absolute;
  z-index: 1;
  top: 40px;
  width: 100%;
}

.title-video-data span {
    color: white;
}

.video-card-title {
  font-weight: 400;
  text-align: center;
  padding-bottom: 5px;
}

.top-video {
  font-weight: 200;
  text-align: center;
  font-size: 0.8em;
  width: 100%;
}

/*.results-body{
  margin-top: 20px;
  margin-left: 100px;
  margin-right: 50px;
}*/

* {
  font-family: 'Open Sans', sans-serif;
}

/*.recClass{padding-bottom:15;padding-left: 10; padding-right: 10;overflow:hidden; height: 40; width:100%; display:flex; justify-content:space-between;text-align: center}*/

/*::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space
    background: transparent;  /* optional: just make scrollbar invisible
}
/* optional: show position indicator in red
::-webkit-scrollbar-thumb {
    background: #FF0000;
}*/

.imageOverVid{
  font-family: 'Open Sans', sans-serif;
  color: #67809f;
  font-size: 14px;
  max-height: 10px;
  margin-left: -38;
  width: 100%;
  position: absolute;
}

.textUnderVid{
  font-family: 'Open Sans', sans-serif;
  color:#124d87;
  font-size: 14px;
  max-height: 10px;
  margin-top:10;
  width: 100%;
  align-content: center;
}

.customHr {
    width: 100%;
    font-size: 1px;
    color: #F4F6F8;
    line-height: 1px;
    background-color: #BAC5D3;
    margin-top: -6px;
    margin-bottom: 0px;
}

.customHrr {
    width: 100%;
    font-size: 1px;
    color: #F4F6F8;
    line-height: 1px;
    margin-left: 26px;

    background-color: #BAC5D3;
    margin-top: -6px;
    margin-bottom: 0px;
}

.videos-div {
    position: relative;
    background-color: #F4F6F8;
    height: auto;
    max-height: 100%;
    width: 102%;
    padding-left: 1%;
    bottom: 0%;
    margin-top: -59px;
    padding-top: 60px;
    flex-direction: column;
    overflow: auto;
}

.search-videos-img {
    position: relative;
    width: 375%;
    height: 150px;
    margin: 10px;
    left: 0%;
    border-color: rgba(66, 100, 155, .7);
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
    -webkit-transition: all 0.5s; /* Safari */
    transition: all 0.5s;
}

.videos-row {
    padding-top: 10px;
    min-height: 200px;
}

.videos-row .col-4 {
    text-align: center;
}