.see-more-div {
    text-align: center;
    width: 100%;
    font-weight: 500;
    color: #6734ba;
    cursor: pointer;
    margin-top: 5px;
    font-size:0.8em;
}

.see-more-div span {
    padding: 0;
    margin: 0;
}


.see-more-div i {
    font-size: 1.5em;
    position: relative;
    width: 100%;
    top: -3px;
}